@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Hiding */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    -webkit-tap-highlight-color: transparent;
}